<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Contact Book</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body>

<!-- The navigation bar (with the only purpose of making the app look better..) -->
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <span class="glyphicon glyphicon-book"></span>
      </a>
    </div>
  </div>
</nav>

<!-- The div that contains the whole application -->
<div ng-controller="ContactsCtrl">

  <!-- Form used for contact info -->
  <form class="form-horizontal" role="form">
    <div class="form-group">
      <span class="col-md-2 control-label">Contact Info</span>
      <div class="col-md-10">
        <div class="form-group row">

          <div class="col-md-2">
            <input type="text" class="form-control required" ng-model="contact.name" placeholder="Name">
          </div>

          <div class="col-md-2">
            <input type="text" class="form-control required" ng-model="contact.email" placeholder="Email">
          </div>

          <div class="col-md-2">
            <input type="text" class="form-control required" ng-model="contact.phone" placeholder="Phone">
          </div>

          <div class="col-md-2">
            <button type="button" class="btn btn-default btn-sm" ng-click="addContact()">
              <span class="glyphicon glyphicon-user"></span> Add Contact
            </button>
          </div>

          <div class="col-md-2">
            <button type="button" class="btn btn-default btn-sm" ng-click="googleLogin()">
              <span class="glyphicon glyphicon-cloud-download"></span> Google Contacts
            </button>
          </div>

        </div>
      </div>
    </div>
  </form>

  <!-- Table for REST server contacts -->
  <div class="panel panel-default">
    <div class="panel-heading">
      Contacts
      <a><span class="glyphicon glyphicon-refresh" ng-click="getAllContacts()" style="float:right"></span></a>
    </div>

    <table class="table">
      <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
        <tr ng-repeat="contact in contacts">
          <td>{{contact.name}}</td>
          <td>{{contact.email}}</td>
          <td><a ng-click="getContactById(contact._id)" class="btn btn-xs btn-primary">More Info</a></td>
          <td><a ng-click="deleteContactById(contact._id)" class="btn btn-xs btn-danger">Delete</a></td>
        </tr>
      </tbody>
    </table>
  </div>


  <!-- Table for Google contacts -->
  <div class="panel panel-default">
    <div class="panel-heading">
      Contacts
      <a><span class="glyphicon glyphicon-refresh" ng-click="getContacts()" style="float:right"></span></a>
    </div>

    <table class="table">
      <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="contact in googleContacts">
        <td>{{contact.name}}</td>
        <td>{{contact.email}}</td>
        <td>{{contact.phone}}</td>
      </tr>
      </tbody>
    </table>
  </div>

</div>

  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="bower_components/angular-google-auth/google-auth.js"></script>
  <script src="app.js"></script>
  <!-- google gapi javascript -->
  <script type="text/javascript">
    (function() {
      var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
      po.src = 'https://apis.google.com/js/client:plusone.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
  </script>
</body>
</html>
